@{
    ViewData["Title"] = "Home Page";
}


<div style="background-image: url('https://wallpapers.com/images/hd/open-book-blurry-lights-l0o2kxfe8fdb8gkk.jpg'); height: 34rem; width: 69rem;">
    <div class="container">
        <h1 class="display-4 text-white">Welcome To Our Online Book Shop</h1>
    </div>
</div>
